.cart{
    border-left: 1px solid lightgrey;
    height: 95%;
    position: fixed;
}
.cart h3{
    text-align: center;
    margin-left: 40px;
}
.cart p{
    font-size: 12px;
}
.cart p,h5{
    line-height: 0.55;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}